nav {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .navbar-brand {
        max-width: calc(100% - 7rem);
        img {
            width: 320px;
            max-width: 100%;
        }
    }

    ul {
        li {
            font-size: 18px;
            font-weight: 500;
            padding: 0 1.2rem;

            a {
                color: $dark !important;
            }

            @media (max-width: 992px) {
                display: flex;
                justify-content: center;
            }
        }
    }
}

header {
    .logo-header {
        img {
            position: absolute;
            width: 18rem !important;
            object-fit: contain;
            top: 30%;
        }
    }
}